{% comment %} <div>
    <canvas id="myChart"width="110" height="30vh" ></canvas>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
  <script>

    const df = {{df|safe}}
    const df1 = {{df1|safe}}
    const ctx = document.getElementById('myChart');
    console.log(df)
    console.log(df1)
  
    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: df1,
        datasets: [{
          label: '# of Votes',
          data: df,
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>
   {% endcomment %}